<a href="https://colab.research.google.com/github/saiteja-1919/food-delivery-project/blob/main/Food_delivery_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

orders = pd.read_csv("orders.csv")
orders.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

In [3]:
# STEP 2: Load Users Data (JSON)

import pandas as pd

# Load users dataset
users = pd.read_json("users.json")

# Basic inspection
print("Users Shape:", users.shape)
print("\nUsers Columns:")
print(users.columns)

print("\nUsers Preview:")
users.head()

Users Shape: (3000, 4)

Users Columns:
Index(['user_id', 'name', 'city', 'membership'], dtype='object')

Users Preview:

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [5]:
# STEP 3: Load Restaurant Data (SQL)

import sqlite3
import pandas as pd
import os

# Check if the file exists
file_path = "restaurants.sql"
if not os.path.exists(file_path):
    print(f"Error: The file '{file_path}' does not exist.")
else:
    # Connect to an in-memory SQLite database
    conn = sqlite3.connect(":memory:")

    try:
        # Read SQL commands from the .sql file
        with open(file_path, 'r') as f:
            sql_script = f.read()

        # Execute the SQL script to create tables and insert data
        conn.executescript(sql_script)

        # Load restaurant table from the in-memory database
        restaurants = pd.read_sql_query("SELECT * FROM restaurants", conn)

        # Basic inspection
        print("Restaurants Shape:", restaurants.shape)
        print("\nRestaurants Columns:")
        print(restaurants.columns)

        print("\nRestaurants Preview:")
        print(restaurants.head())

    except Exception as e:
        print(f"An error occurred while processing the SQL file: {e}")
    finally:
        # Close connection
        conn.close()

Restaurants Shape: (500, 4)

Restaurants Columns:
Index(['restaurant_id', 'restaurant_name', 'cuisine', 'rating'], dtype='object')

Restaurants Preview:
   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [7]:
#I validated primary-foreign key relationships before performing joins.‚Äù

# STEP 4: Validate Join Keys

# Check if join keys exist
assert "user_id" in orders.columns
assert "user_id" in users.columns
assert "restaurant_id" in orders.columns
assert "restaurant_id" in restaurants.columns

print("All join keys are present.")

All join keys are present.

In [8]:
# STEP 5: Merge Datasets (Left Join)

# Merge orders with users
orders_users = pd.merge(
    orders,
    users,
    on="user_id",
    how="left"
)

# Merge with restaurants
final_dataset = pd.merge(
    orders_users,
    restaurants,
    on="restaurant_id",
    how="left"
)

print("Final Dataset Shape:", final_dataset.shape)
final_dataset.head()

Final Dataset Shape: (10000, 12)

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [9]:
# STEP 6: Export Final Dataset

final_dataset.to_csv("final_food_delivery_dataset.csv", index=False)

print("Final dataset saved as final_food_delivery_dataset.csv")

Final dataset saved as final_food_delivery_dataset.csv